#### Import

In [54]:
from Student import Student, czytaj, ileElementow
from statistics import mean
from itertools import islice
from itertools import groupby

lista_osob = czytaj()

print(ileElementow(czytaj()))

32593

### Zadanie A (strumienie i kolekcje Python)

#### 1. Dane z kodem zaczynającym się od E.

In [5]:
print("Lista osób, których imię rozpoczyna się na E:")
for osoba in islice(filter(lambda osoba: osoba.kod.startswith("E"), lista_osob), 5):
    print(osoba)

Lista osób, których imię rozpoczyna się na E:
{'kod': 'EEE', 'id': '26915', 'plec': 'M', 'region': 'Wales', 'wyksztalcenie': 'Lower Than A Level', 'wiek': 44, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Fail'}
{'kod': 'EEE', 'id': '32553', 'plec': 'M', 'region': 'North Western Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 23, 'prob': 0, 'punktow': 60, 'zaliczenie': 'Withdrawn'}
{'kod': 'EEE', 'id': '35355', 'plec': 'M', 'region': 'Wales', 'wyksztalcenie': 'Lower Than A Level', 'wiek': 51, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Pass'}
{'kod': 'EEE', 'id': '40508', 'plec': 'M', 'region': 'West Midlands Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 41, 'prob': 0, 'punktow': 90, 'zaliczenie': 'Withdrawn'}
{'kod': 'EEE', 'id': '42638', 'plec': 'M', 'region': 'Scotland', 'wyksztalcenie': 'HE Qualification', 'wiek': 50, 'prob': 0, 'punktow': 60, 'zaliczenie': 'Pass'}

#### 2. Liczbę osób, które próbowały zdać wcześniej jeden raz (z jedną próbą).

In [6]:
lista_osob = czytaj()
print("Liczba osób, które próbowały zdać z JEDNĄ próbą:", len(list(filter(lambda osoba: osoba.prob == 1, lista_osob))))

Liczba osób, które próbowały zdać z JEDNĄ próbą: 3299

#### 3. Liczbę osób w wieku 25-35 lat.

In [25]:
lista_osob = czytaj()
print("Liczba osób, w wieku 25-35 lat:", len(list(filter(lambda osoba: osoba.wiek >= 25 and osoba.wiek <= 35, lista_osob))))

Liczba osób, w wieku 25-35 lat: 11808

#### 4. Listę nazw wszystkich regionów występujących w zestawieniu (bez powtórzeń).

In [55]:
lista_osob = czytaj()
print("Lista nazw wszystkich regionów (bez powtórzeń):")
for region in sorted(list(set(osoba.region for osoba in lista_osob))):
    print(region)

Lista nazw wszystkich regionów (bez powtórzeń):
East Anglian Region
East Midlands Region
Ireland
London Region
North Region
North Western Region
Scotland
South East Region
South Region
South West Region
Wales
West Midlands Region
Yorkshire Region

#### 5. Liczbę osób każdej z płci.

In [70]:
print("Liczba osób, które wzięły udział w spisie z podziałem na kobiety i mężczyzn:")
liczba_osob_km = {"F": 0, "M": 0}  # tworzymy słownik

osoby_plec = czytaj()  # Wczytaj dane z pliku "data.data"

for osoba in osoby_plec:
    plec = osoba.plec
    liczba_osob_km[plec] += 1
        
for plec, osoby_plec in liczba_osob_km.items():
    print(f"{plec}: {osoby_plec}")
    
# LUB DRUGI SPOSÓB:
lista_mezczyzn = czytaj()
print("Liczba mężczyzn:", len(list(filter(lambda osoba: osoba.plec == "M", lista_mezczyzn))))
lista_kobiet = czytaj()
print("Liczba kobiet:", len(list(filter(lambda osoba: osoba.plec == "F", lista_kobiet))))

# LUB TRZECI SPOSÓB:
osoby_plec = czytaj()
for kod in [(key, len(list(osoby))) for key, osoby in groupby(sorted(list(map(lambda os: os.plec, osoby_plec))))]:
    print(kod)

Liczba osób, które wzięły udział w spisie z podziałem na kobiety i mężczyzn:
F: 14718
M: 17875
Liczba mężczyzn: 17875
Liczba kobiet: 14718
('F', 14718)
('M', 17875)

#### 6. Średni wiek osób z Walii (Wales)

In [26]:
lista_osob = czytaj()
wieki_wales = [osoba.wiek for osoba in lista_osob if osoba.region == "Wales"]
print("Średni wiek osób z Walii:", mean(wieki_wales), "\n")

# LUB DRUGI SPOSÓB:
lista_osob = czytaj()
print("Średni wiek osób z Walii:", mean(list(map(lambda os : os.wiek, filter(lambda os : os.region == "Wales", lista_osob)))))

Średni wiek osób z Walii: 30.748322147651006

Średni wiek osób z Walii: 30.748322147651006

#### 7. Wiek najstarszego mężczyzny który zdał

In [38]:
lista_osob = czytaj()
najstarsza_osoba = max(lista_osob, key=lambda osoba: osoba.wiek)
print("Wiek najstarszej osoby:", najstarsza_osoba.wiek,"\n")

Wiek najstarszej osoby: 74

#### 8. Listę osób z regionu Londynu (London Region), które oblały dla każdej liczby punktów.

In [36]:
lista_osob = czytaj()
for osoba in islice(list(filter(lambda osoba: osoba.region == "London Region" and osoba.zaliczenie == "Pass", lista_osob)),5):
    print(osoba)

{'kod': 'AAA', 'id': '102952', 'plec': 'M', 'region': 'London Region', 'wyksztalcenie': 'HE Qualification', 'wiek': 15, 'prob': 0, 'punktow': 60, 'zaliczenie': 'Pass'}
{'kod': 'AAA', 'id': '151358', 'plec': 'F', 'region': 'London Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 23, 'prob': 0, 'punktow': 150, 'zaliczenie': 'Pass'}
{'kod': 'AAA', 'id': '155550', 'plec': 'M', 'region': 'London Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 48, 'prob': 0, 'punktow': 420, 'zaliczenie': 'Pass'}
{'kod': 'AAA', 'id': '183947', 'plec': 'M', 'region': 'London Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 18, 'prob': 0, 'punktow': 180, 'zaliczenie': 'Pass'}
{'kod': 'AAA', 'id': '200860', 'plec': 'M', 'region': 'London Region', 'wyksztalcenie': 'Lower Than A Level', 'wiek': 53, 'prob': 0, 'punktow': 60, 'zaliczenie': 'Pass'}

#### 9. Dane osób, które otrzymały mniej niż 50 punktów.

In [43]:
osoby = czytaj()
for osoba in islice(list(filter(lambda os : os.punktow < 50, osoby)),5):
    print(osoba)

{'kod': 'CCC', 'id': '28418', 'plec': 'F', 'region': 'West Midlands Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 22, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Fail'}
{'kod': 'CCC', 'id': '40333', 'plec': 'M', 'region': 'North Region', 'wyksztalcenie': 'HE Qualification', 'wiek': 44, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Withdrawn'}
{'kod': 'CCC', 'id': '40604', 'plec': 'M', 'region': 'Ireland', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 49, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Pass'}
{'kod': 'CCC', 'id': '59541', 'plec': 'M', 'region': 'East Anglian Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 25, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Withdrawn'}
{'kod': 'CCC', 'id': '62278', 'plec': 'M', 'region': 'West Midlands Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 22, 'prob': 0, 'punktow': 40, 'zaliczenie': 'Fail'}

#### 10. Liczbę osób w wieku do 23 lat z South Region.

In [48]:
osoby = czytaj()
len(list(filter(lambda os: os.wiek < 23 and os.region == "South Region", osoby)))

850

#### 11. Listę wszystkie rodzajów wykształcenia występujących w danych (HE Qualification, Lower Than A Level itd.) (bez powtórzeń)

In [49]:
lista_osob = czytaj()
for wyksztalcenie in sorted(list(set(osoba.wyksztalcenie for osoba in lista_osob))):
    print(wyksztalcenie)

A Level or Equivalent
HE Qualification
Lower Than A Level
No Formal quals
Post Graduate Qualification

#### 12. Liczbę osób dla każdego kodu

In [57]:
osoby = czytaj()
for kod in [(key, len(list(osoby))) for key, osoby in groupby(sorted(list(map(lambda os: os.kod, osoby))))]:
    print(kod)

('AAA', 748)
('BBB', 7909)
('CCC', 4434)
('DDD', 6272)
('EEE', 2934)
('FFF', 7762)
('GGG', 2534)

#### 13. Średnią liczbę punktów osób które zdały

In [60]:
osoby = czytaj()
mean(list(map(lambda os: os.punktow, filter(lambda os: os.zaliczenie == "Pass", osoby))))

74.2209368174096

#### 14. Najmniejszą liczbę prób dla osób ze Szkocji (rejon Scotland)

In [66]:
osoby = czytaj()
# Wypisuje konkretną osobę z najmniejszą ilością prób
#min(list(filter(lambda os: os.region == "Scotland", osoby)),key=lambda osoba: osoba.prob)

# Wypisuje njmniejszą ilość prób
min(list(map(lambda osoba: osoba.prob, filter(lambda x : x.region == "Scotland", osoby))))

0

#### 15. Liczbę osób w wieku powyżej 40 lat które zdawały co najmniej raz wcześniej dla każdego regionu.

In [67]:
lista_osob = czytaj()
for kod in [(key, len(list(osoby))) for key, osoby in groupby(sorted(list(map(lambda os: os.region, filter(lambda x : x.wiek > 40 and x.prob >=1, lista_osob)))))]:
    print(kod)

('East Anglian Region', 3340)
('East Midlands Region', 2365)
('Ireland', 1184)
('London Region', 3216)
('North Region', 1823)
('North Western Region', 2906)
('Scotland', 3446)
('South East Region', 2111)
('South Region', 3092)
('South West Region', 2436)
('Wales', 2086)
('West Midlands Region', 2582)
('Yorkshire Region', 2006)