## Zadanie 1

In [1]:
from statistics import mean

class Osoba:
    def __init__(self, imie, nazwisko, wiek, miasto):
        self.imie = imie
        self.nazwisko = nazwisko
        self.wiek = wiek
        self.miasto = miasto
    
    def __str__(self):
        return f"Imię: {self.imie}, Nazwisko: {self.nazwisko}, Wiek: {self.wiek}, Miasto: {self.miasto}"
    
    def __repr__(self):
        return self.nazwisko

lista_osob = []

lista_osob.append(Osoba("Ola", "Kowalska", 5, "Gdynia"))
lista_osob.append(Osoba("Ela", "Śmigalsa", 34, "Lublin"))
lista_osob.append(Osoba("Hania", "Nowak", 10, "Warszawa"))
lista_osob.append(Osoba("Kacper", "Kwiatkowski", 22, "Kraków"))
lista_osob.append(Osoba("Kuba", "Malinowski", 7, "Gdańsk"))
lista_osob.append(Osoba("Dominik", "Noga", 7, "Wrocław"))
lista_osob.append(Osoba("Michał", "Kowalski", 23, "Gdynia"))
lista_osob.append(Osoba("Paweł", "Tokarski", 31, "Poznań"))
lista_osob.append(Osoba("Michał", "Makowski", 25, "Gdynia"))
lista_osob.append(Osoba("Ela", "Tkaczyk", 28, "Poznań"))
lista_osob.append(Osoba("Paweł", "Mirecki", 34, "Lublin"))
lista_osob.append(Osoba("Paweł", "Dobrocki", 14, "Gdynia"))

#### 1.1 Lista osób z Gdyni.

In [2]:
print("Dane wszystkich osób z Gdyni:")
for osoba in list(filter(lambda osoba: osoba.miasto == "Gdynia", lista_osob)):
    print(osoba)

Dane wszystkich osób z Gdyni:
Imię: Ola, Nazwisko: Kowalska, Wiek: 5, Miasto: Gdynia
Imię: Michał, Nazwisko: Kowalski, Wiek: 23, Miasto: Gdynia
Imię: Michał, Nazwisko: Makowski, Wiek: 25, Miasto: Gdynia
Imię: Paweł, Nazwisko: Dobrocki, Wiek: 14, Miasto: Gdynia

#### 1.2  Lista osób w wieku powyżej 25 lat posortowana według nazwisk.

In [3]:
print("Dane wszystkich osób w wieku powyżej 25 lat posortowana według nazwisk:")
for osoba in sorted(list(filter(lambda osoba: osoba.wiek > 25, lista_osob)), key=lambda osoba: osoba.nazwisko):
    print(osoba)

Dane wszystkich osób w wieku powyżej 25 lat posortowana według nazwisk:
Imię: Paweł, Nazwisko: Mirecki, Wiek: 34, Miasto: Lublin
Imię: Ela, Nazwisko: Tkaczyk, Wiek: 28, Miasto: Poznań
Imię: Paweł, Nazwisko: Tokarski, Wiek: 31, Miasto: Poznań
Imię: Ela, Nazwisko: Śmigalsa, Wiek: 34, Miasto: Lublin

#### 1.3  Lista osób, których imię składa się z więcej niż 3 liter posortowana według wieku.

In [4]:
print("Dane wszystkich osób, których imię składa się z więcej niż 3 liter posortowana według wieku:")
for osoba in sorted(list(filter(lambda osoba: len(osoba.imie) > 3, lista_osob)), key=lambda osoba: osoba.wiek):
    print(osoba)

Dane wszystkich osób, których imię składa się z więcej niż 3 liter posortowana według wieku:
Imię: Kuba, Nazwisko: Malinowski, Wiek: 7, Miasto: Gdańsk
Imię: Dominik, Nazwisko: Noga, Wiek: 7, Miasto: Wrocław
Imię: Hania, Nazwisko: Nowak, Wiek: 10, Miasto: Warszawa
Imię: Paweł, Nazwisko: Dobrocki, Wiek: 14, Miasto: Gdynia
Imię: Kacper, Nazwisko: Kwiatkowski, Wiek: 22, Miasto: Kraków
Imię: Michał, Nazwisko: Kowalski, Wiek: 23, Miasto: Gdynia
Imię: Michał, Nazwisko: Makowski, Wiek: 25, Miasto: Gdynia
Imię: Paweł, Nazwisko: Tokarski, Wiek: 31, Miasto: Poznań
Imię: Paweł, Nazwisko: Mirecki, Wiek: 34, Miasto: Lublin

#### 1.4 Średni wiek osób z Poznania.

In [5]:
wieki_poznan = [osoba.wiek for osoba in lista_osob if osoba.miasto == "Poznań"]
print("Średni wiek osób z poznania:", mean(wieki_poznan), "\n")

Średni wiek osób z poznania: 29.5

#### 1.5 Liczba osób z każdego miasta.

In [6]:
print("Liczba osób z każdego miasta:")
liczba_osob_miasto = {}
for osoba in lista_osob:
    miasto = osoba.miasto
    if miasto in liczba_osob_miasto:
        liczba_osob_miasto[miasto] += 1
    else:
        liczba_osob_miasto[miasto] = 1
for miasto, liczba_osob in liczba_osob_miasto.items():
    print(f"{miasto}: {liczba_osob}")

Liczba osób z każdego miasta:
Gdynia: 4
Lublin: 2
Warszawa: 1
Kraków: 1
Gdańsk: 1
Wrocław: 1
Poznań: 2

#### 1.6 Liczby osób z tym samym imieniem.

In [7]:
print("Liczba osób z tym samym imieniem:")
liczba_osob_imie = {}

for osoba in lista_osob:
    imie = osoba.imie
    if imie in liczba_osob_imie:
        liczba_osob_imie[imie] += 1
    else:
        liczba_osob_imie[imie] = 1
        
for imie, liczba_osob in liczba_osob_imie.items():
    print(f"{imie}: {liczba_osob}")

Liczba osób z tym samym imieniem:
Ola: 1
Ela: 2
Hania: 1
Kacper: 1
Kuba: 1
Dominik: 1
Michał: 2
Paweł: 3

#### 1.7 Lista osób, których imię rozpoczyna się na "E".

In [8]:
print("Lista osób, których imię rozpoczyna się na E:")
for osoba in [osoba for osoba in lista_osob if osoba.imie.startswith("E")]:
    print(osoba)

Lista osób, których imię rozpoczyna się na E:
Imię: Ela, Nazwisko: Śmigalsa, Wiek: 34, Miasto: Lublin
Imię: Ela, Nazwisko: Tkaczyk, Wiek: 28, Miasto: Poznań

#### 1.8 Lista osób, których imię zawiera ”la”.

In [9]:
print("Lista osób, których imię zawiera 'la':")
for osoba in [osoba for osoba in lista_osob if "la" in osoba.imie]:
    print(osoba)

Lista osób, których imię zawiera 'la':
Imię: Ola, Nazwisko: Kowalska, Wiek: 5, Miasto: Gdynia
Imię: Ela, Nazwisko: Śmigalsa, Wiek: 34, Miasto: Lublin
Imię: Ela, Nazwisko: Tkaczyk, Wiek: 28, Miasto: Poznań

#### 1.9 Lista wszystkich miast, bez powtórzeń, posortowana alfabetycznie.

In [10]:
print("Lista wszystkich miast, bez powtórzeń, posortowana alfabetycznie:")
for miasto in sorted(list(set(osoba.miasto for osoba in lista_osob))):
    print(miasto)

Lista wszystkich miast, bez powtórzeń, posortowana alfabetycznie:
Gdańsk
Gdynia
Kraków
Lublin
Poznań
Warszawa
Wrocław

#### 1.10 Wiek najstarszej osoby.

In [11]:
najstarsza_osoba = max(lista_osob, key=lambda osoba: osoba.wiek)
print("Wiek najstarszej osoby:", najstarsza_osoba.wiek,"\n")

Wiek najstarszej osoby: 34

## Zadanie 2

In [12]:
class Person:
  def __init__(self, dane):
    self.wiek = int(dane[0]);
    self.formaZatrudnienia = dane[1];
    self.wagaKontrolna = dane[2];
    self.wyksztalcenie = dane[3];
    self.wyksztalcenieLiczbowo = int( dane[4]);
    self.stanCywilny = dane[5];
    self.grupaZawodowa = dane[6];
    self.relacjaRodzinna = dane[7];
    self.rasa = dane[8];
    self.plec = dane[9];
    self.zysk = dane[10];
    self.strata = dane[11];
    self.godzinyTygodniowo = int( dane[12]);
    self.kraj = dane[13];
    self.klasaZysku = dane[14];
    
  def __str__(self):
    return str(vars(self))

  def __repr__(self):
    return str(self.wiek) + "..."
 
def czytaj():
    for row in open("data.data", "r"):
        if( row.strip()):
            yield Person( row.split(", "))
        
def ileElementow( gen):
    return sum(1 for g in gen)

osoby = czytaj()
#print(*czytaj())

#### 2.1. Lista kobiet pochodzących z Meksyku z wykształceniem HS-grad.

In [13]:
kobiety_meksyk_hs = [osoba for osoba in osoby if osoba.plec == "Female" and osoba.kraj == "Mexico" and osoba.wyksztalcenie == "HS-grad"]
print("Lista kobiet pochodzących z Meksyku z wykształceniem HS-grad:")
for osoba in kobiety_meksyk_hs:
    print(osoba)

Lista kobiet pochodzących z Meksyku z wykształceniem HS-grad:
{'wiek': 23, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '375871', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Adm-clerical', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 31, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '316672', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 32, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '549430', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Priv-house-serv', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 53, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '227602', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Divorced', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Not-in-family', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 37, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 29, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '370494', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 40, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '273308', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Divorced', 'grupaZawodowa': 'Machine-op-inspct', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 48, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 28, 'formaZatrudnienia': '?', 'wagaKontrolna': '201844', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Separated', 'grupaZawodowa': '?', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 20, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '221661', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Adm-clerical', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 26, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '303973', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Priv-house-serv', 'relacjaRodzinna': 'Other-relative', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '1602', 'godzinyTygodniowo': 15, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 20, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '432154', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 8, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 25, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '255647', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 25, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 56, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '392160', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Widowed', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 25, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 24, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '270517', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 20, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '270517', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 29, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '197932', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Handlers-cleaners', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '>50K\n'}
{'wiek': 25, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '204219', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Adm-clerical', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 20, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '216825', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 25, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 22, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '353039', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 36, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 31, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '442429', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Separated', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 30, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '167558', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 35, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 26, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '152855', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Exec-managerial', 'relacjaRodzinna': 'Own-child', 'rasa': 'Other', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 26, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '142081', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 27, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '167405', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-spouse-absent', 'grupaZawodowa': 'Farming-fishing', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 31, 'formaZatrudnienia': '?', 'wagaKontrolna': '251167', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': '?', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 30, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 25, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '352806', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Divorced', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Not-in-family', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 34, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '226629', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Priv-house-serv', 'relacjaRodzinna': 'Not-in-family', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 24, 'formaZatrudnienia': '?', 'wagaKontrolna': '412156', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': '?', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 37, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '220314', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Divorced', 'grupaZawodowa': 'Adm-clerical', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 41, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '190885', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Separated', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 22, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '213902', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Adm-clerical', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 51, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '355551', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 45, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 20, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '435469', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 28, 'formaZatrudnienia': '?', 'wagaKontrolna': '222005', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': '?', 'relacjaRodzinna': 'Other-relative', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 22, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '500720', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Adm-clerical', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 28, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '261725', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 33, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '403468', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Machine-op-inspct', 'relacjaRodzinna': 'Wife', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}
{'wiek': 24, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '86065', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Transport-moving', 'relacjaRodzinna': 'Unmarried', 'rasa': 'White', 'plec': 'Female', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Mexico', 'klasaZysku': '<=50K\n'}

#### 2.2. Liczba osób, które wzięły udział w spisie z podziałem na kobiety i mężczyzn.

In [14]:
print("Liczba osób, które wzięły udział w spisie z podziałem na kobiety i mężczyzn:")
liczba_osob_km = {"Female": 0, "Male": 0}  # tworzymy słownik

osoby_plec = czytaj()  # Wczytaj dane z pliku "data.data"

for osoba in osoby_plec:
    plec = osoba.plec
    liczba_osob_km[plec] += 1
        
for plec, osoby_plec in liczba_osob_km.items():
    print(f"{plec}: {osoby_plec}")

Liczba osób, które wzięły udział w spisie z podziałem na kobiety i mężczyzn:
Female: 10771
Male: 21790

#### 2.3. Średni wiek osób Never-married o formie zatrudnienia Private.

In [15]:
osoby = czytaj()  # Wczytaj dane z pliku "data.data"

osoby_filtrowane = [osoba for osoba in osoby if osoba.stanCywilny == "Never-married" and osoba.formaZatrudnienia == "Private"]

sredni_wiek = mean([osoba.wiek for osoba in osoby_filtrowane])

print("Średni wiek osób, które są 'Never-married' i mają zatrudnienie 'Private':", sredni_wiek)

Średni wiek osób, które są 'Never-married' i mają zatrudnienie 'Private': 27.64769118006352

#### 2.4. Liczba osób o wykształceniu liczbowo od 9 do 13 pracujących od 20 do 30 godzin tygodniowo pogrupowana według form zatrudnienia.

In [25]:
osoby = czytaj()
liczba_osob_zatrudnienie = {}

for osoba in [osoba for osoba in osoby if osoba.wyksztalcenieLiczbowo >= 9 and osoba.wyksztalcenieLiczbowo <= 13 and osoba.godzinyTygodniowo >= 20 and osoba.godzinyTygodniowo <= 30]:
    zatrudnienie = osoba.formaZatrudnienia
    if zatrudnienie in liczba_osob_zatrudnienie:
        liczba_osob_zatrudnienie[zatrudnienie] += 1
    else:
        liczba_osob_zatrudnienie[zatrudnienie] = 1
        
for zatrudnienie, osoby in liczba_osob_zatrudnienie.items():
    print(f"{zatrudnienie}: {osoby}")

Private: 1871
Local-gov: 106
Federal-gov: 28
Self-emp-not-inc: 223
?: 321
State-gov: 87
Self-emp-inc: 48
Without-pay: 5

#### 2.5. Liczby osób z USA z takim samym wykształceniem

In [48]:
osoby = czytaj()
liczba_osob_usa = {}

for osoba in [osoba for osoba in osoby if osoba.kraj == "United-States"]:
    wyksztalcenie = osoba.wyksztalcenie
    if wyksztalcenie in liczba_osob_usa:
        liczba_osob_usa[wyksztalcenie] += 1
    else:
        liczba_osob_usa[wyksztalcenie] = 1
        
for wyksztalcenie, osoby in liczba_osob_usa.items():
    print(f"{wyksztalcenie}: {osoby}")

Bachelors: 4766
HS-grad: 9702
11th: 1067
Masters: 1527
Some-college: 6740
Assoc-acdm: 982
Doctorate: 328
9th: 395
Assoc-voc: 1289
10th: 848
7th-8th: 499
Prof-school: 502
1st-4th: 46
Preschool: 17
5th-6th: 97
12th: 365

#### 2.6. Średnie liczby godzin przepracowywanych w tygodniu przez osoby ze stopniem Bachelors dla każdej z form zatrudnienia.

In [35]:
osoby = czytaj()
godziny_przepracowane = {}

# Iteruj przez osoby i dodaj godziny przepracowane do odpowiednich list w słowniku
for osoba in osoby:
    if osoba.wyksztalcenie == "Bachelors":
        if osoba.formaZatrudnienia not in godziny_przepracowane:
            godziny_przepracowane[osoba.formaZatrudnienia] = []
        godziny_przepracowane[osoba.formaZatrudnienia].append(osoba.godzinyTygodniowo)

# Oblicz średnie liczby godzin dla każdej formy zatrudnienia
srednie_godziny = {forma: mean(godziny) for forma, godziny in godziny_przepracowane.items()}

for forma_zatrudnienia, srednia in srednie_godziny.items():
    print(f"{forma_zatrudnienia}: {srednia}")

State-gov: 39.69259259259259
Self-emp-not-inc: 44.177944862155385
Private: 42.69867642917488
Local-gov: 42.140461215932916
Federal-gov: 42.617924528301884
?: 32.41618497109827
Self-emp-inc: 49.4029304029304

#### 2.7. Minimalny i maksymalny wiek osób pracujących w różnych grupach zawodowych.

In [38]:
osoby = czytaj()
min_wiek = {}
max_wiek = {}

# Iteruj przez osoby i znajdź minimalny i maksymalny wiek dla każdej grupy zawodowej
for osoba in osoby:
    if osoba.grupaZawodowa not in min_wiek:
        min_wiek[osoba.grupaZawodowa] = osoba.wiek
        max_wiek[osoba.grupaZawodowa] = osoba.wiek
    else:
        if osoba.wiek < min_wiek[osoba.grupaZawodowa]:
            min_wiek[osoba.grupaZawodowa] = osoba.wiek
        if osoba.wiek > max_wiek[osoba.grupaZawodowa]:
            max_wiek[osoba.grupaZawodowa] = osoba.wiek

# Wyświetl minimalny i maksymalny wiek dla każdej grupy zawodowej
for grupa_zawodowa in min_wiek:
    print(f"Minimalny wiek dla '{grupa_zawodowa}':  {min_wiek[grupa_zawodowa]}")
    print(f"Maksymalny wiek dla '{grupa_zawodowa}': {max_wiek[grupa_zawodowa]}")

Minimalny wiek dla 'Adm-clerical':  17
Maksymalny wiek dla 'Adm-clerical': 90
Minimalny wiek dla 'Exec-managerial':  17
Maksymalny wiek dla 'Exec-managerial': 90
Minimalny wiek dla 'Handlers-cleaners':  17
Maksymalny wiek dla 'Handlers-cleaners': 90
Minimalny wiek dla 'Prof-specialty':  17
Maksymalny wiek dla 'Prof-specialty': 90
Minimalny wiek dla 'Other-service':  17
Maksymalny wiek dla 'Other-service': 90
Minimalny wiek dla 'Sales':  17
Maksymalny wiek dla 'Sales': 90
Minimalny wiek dla 'Craft-repair':  17
Maksymalny wiek dla 'Craft-repair': 90
Minimalny wiek dla 'Transport-moving':  17
Maksymalny wiek dla 'Transport-moving': 90
Minimalny wiek dla 'Farming-fishing':  17
Maksymalny wiek dla 'Farming-fishing': 90
Minimalny wiek dla 'Machine-op-inspct':  17
Maksymalny wiek dla 'Machine-op-inspct': 90
Minimalny wiek dla 'Tech-support':  17
Maksymalny wiek dla 'Tech-support': 73
Minimalny wiek dla '?':  17
Maksymalny wiek dla '?': 90
Minimalny wiek dla 'Protective-serv':  17
Maksymalny wiek dla 'Protective-serv': 90
Minimalny wiek dla 'Armed-Forces':  23
Maksymalny wiek dla 'Armed-Forces': 46
Minimalny wiek dla 'Priv-house-serv':  17
Maksymalny wiek dla 'Priv-house-serv': 81

#### 2.8. Lista mężczyzn pochodzących z Kuby lub Jamajki z wykształceniem HS-grad.

In [45]:
osoby = czytaj()    
for osoba in [osoba for osoba in osoby if osoba.plec == "Male" and (osoba.kraj == "Cuba" or osoba.kraj == "Jamaica") and osoba.wyksztalcenie == "HS-grad"]:        
    print(osoba)

{'wiek': 33, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '343925', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Handlers-cleaners', 'relacjaRodzinna': 'Not-in-family', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 57, 'formaZatrudnienia': 'Self-emp-inc', 'wagaKontrolna': '282913', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 38, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '225707', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Machine-op-inspct', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '>50K\n'}
{'wiek': 35, 'formaZatrudnienia': 'Local-gov', 'wagaKontrolna': '258037', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '>50K\n'}
{'wiek': 41, 'formaZatrudnienia': 'Self-emp-not-inc', 'wagaKontrolna': '229148', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Not-in-family', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 60, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 44, 'formaZatrudnienia': 'Self-emp-not-inc', 'wagaKontrolna': '195486', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Husband', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 70, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 82, 'formaZatrudnienia': 'Self-emp-not-inc', 'wagaKontrolna': '240491', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 77, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '235775', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 25, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 28, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '222442', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 51, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 53, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '268545', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Husband', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 21, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '265148', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Handlers-cleaners', 'relacjaRodzinna': 'Other-relative', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 38, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 72, 'formaZatrudnienia': '?', 'wagaKontrolna': '173427', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': '?', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 57, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '206343', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Separated', 'grupaZawodowa': 'Machine-op-inspct', 'relacjaRodzinna': 'Not-in-family', 'rasa': 'White', 'plec': 'Male', 'zysk': '2174', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 33, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '315143', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Sales', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '>50K\n'}
{'wiek': 42, 'formaZatrudnienia': 'Self-emp-not-inc', 'wagaKontrolna': '217826', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Husband', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 25, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 39, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '315565', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Transport-moving', 'relacjaRodzinna': 'Husband', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 47, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '145041', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Machine-op-inspct', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '>50K\n'}
{'wiek': 24, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '283092', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Adm-clerical', 'relacjaRodzinna': 'Other-relative', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 59, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '316027', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 45, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 25, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '254613', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Never-married', 'grupaZawodowa': 'Craft-repair', 'relacjaRodzinna': 'Own-child', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Cuba', 'klasaZysku': '<=50K\n'}
{'wiek': 18, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '151386', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-spouse-absent', 'grupaZawodowa': 'Other-service', 'relacjaRodzinna': 'Own-child', 'rasa': 'Black', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}
{'wiek': 37, 'formaZatrudnienia': 'Self-emp-not-inc', 'wagaKontrolna': '258037', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Transport-moving', 'relacjaRodzinna': 'Husband', 'rasa': 'White', 'plec': 'Male', 'zysk': '0', 'strata': '0', 'godzinyTygodniowo': 45, 'kraj': 'Cuba', 'klasaZysku': '>50K\n'}
{'wiek': 55, 'formaZatrudnienia': 'Private', 'wagaKontrolna': '132887', 'wyksztalcenie': 'HS-grad', 'wyksztalcenieLiczbowo': 9, 'stanCywilny': 'Married-civ-spouse', 'grupaZawodowa': 'Transport-moving', 'relacjaRodzinna': 'Husband', 'rasa': 'Black', 'plec': 'Male', 'zysk': '3411', 'strata': '0', 'godzinyTygodniowo': 40, 'kraj': 'Jamaica', 'klasaZysku': '<=50K\n'}

#### 2.9. Liczba osób rozwiedzionych w wieku poniżej 30 lat z USA.

In [52]:
osoby = czytaj()    
   
print("Liczba rozwiedzionych:",sum(1 for osoba in osoby if osoba.kraj == "United-States" and osoba.stanCywilny == "Divorced" and osoba.wiek < 30))

Liczba rozwiedzionych: 371

#### 2.10. Liczby osób, które wzięły udział w spisie dla każdego poziomu wykształcenia.

In [53]:
osoby = czytaj()   
liczby_osob = {}

for osoba in osoby:
    poziom_wyksztalcenia = osoba.wyksztalcenie
    if poziom_wyksztalcenia in liczby_osob:
        liczby_osob[poziom_wyksztalcenia] += 1
    else:
        liczby_osob[poziom_wyksztalcenia] = 1

for poziom_wyksztalcenia, liczba_osob in liczby_osob.items():
    print("Poziom wykształcenia:", poziom_wyksztalcenia)
    print("Liczba osób:", liczba_osob)
    print()

Poziom wykształcenia: Bachelors
Liczba osób: 5355

Poziom wykształcenia: HS-grad
Liczba osób: 10501

Poziom wykształcenia: 11th
Liczba osób: 1175

Poziom wykształcenia: Masters
Liczba osób: 1723

Poziom wykształcenia: 9th
Liczba osób: 514

Poziom wykształcenia: Some-college
Liczba osób: 7291

Poziom wykształcenia: Assoc-acdm
Liczba osób: 1067

Poziom wykształcenia: Assoc-voc
Liczba osób: 1382

Poziom wykształcenia: 7th-8th
Liczba osób: 646

Poziom wykształcenia: Doctorate
Liczba osób: 413

Poziom wykształcenia: Prof-school
Liczba osób: 576

Poziom wykształcenia: 5th-6th
Liczba osób: 333

Poziom wykształcenia: 10th
Liczba osób: 933

Poziom wykształcenia: 1st-4th
Liczba osób: 168

Poziom wykształcenia: Preschool
Liczba osób: 51

Poziom wykształcenia: 12th
Liczba osób: 433