#### Import

In [1]:
from Student import Student, czytaj, ileElementow
from statistics import mean
from itertools import islice
from itertools import groupby

lista_osob = czytaj()

print(ileElementow(czytaj()))

32593

### Zadanie A (strumienie i kolekcje Python)

#### 1. Dane z kodem zaczynającym się od E.

In [2]:
lista_osob = czytaj()
for osoba in islice(filter(lambda osoba: osoba.kod.startswith("E"), lista_osob), 5):
    print(osoba)

{'kod': 'EEE', 'id': '26915', 'plec': 'M', 'region': 'Wales', 'wyksztalcenie': 'Lower Than A Level', 'wiek': 44, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Fail'}
{'kod': 'EEE', 'id': '32553', 'plec': 'M', 'region': 'North Western Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 23, 'prob': 0, 'punktow': 60, 'zaliczenie': 'Withdrawn'}
{'kod': 'EEE', 'id': '35355', 'plec': 'M', 'region': 'Wales', 'wyksztalcenie': 'Lower Than A Level', 'wiek': 51, 'prob': 0, 'punktow': 30, 'zaliczenie': 'Pass'}
{'kod': 'EEE', 'id': '40508', 'plec': 'M', 'region': 'West Midlands Region', 'wyksztalcenie': 'A Level or Equivalent', 'wiek': 41, 'prob': 0, 'punktow': 90, 'zaliczenie': 'Withdrawn'}
{'kod': 'EEE', 'id': '42638', 'plec': 'M', 'region': 'Scotland', 'wyksztalcenie': 'HE Qualification', 'wiek': 50, 'prob': 0, 'punktow': 60, 'zaliczenie': 'Pass'}

#### 2. Liczbę osób młodszych niż 30 lat.

In [3]:
lista_osob = czytaj()
print(len(list(filter(lambda osoba: osoba.wiek < 30, lista_osob))))

17244

#### 3. Liczbę osób w wieku do 24 lat z Walii (Wales).

In [4]:
lista_osob = czytaj()
print(len(list(filter(lambda osoba: osoba.wiek <= 24 and osoba.region == "Wales", lista_osob))))

734

#### 4. Listę wszystkich typów kodów używanych w zestawieniu (bez powtórzeń).

In [5]:
lista_osob = czytaj()
for kod in sorted(list(set(osoba.kod for osoba in lista_osob))):
    print(kod)

AAA
BBB
CCC
DDD
EEE
FFF
GGG

#### 5. Liczbę osób dla każdego kodu.

In [6]:
lista_osob = czytaj()
for kod in [(key, len(list(osoby))) for key, osoby in groupby(sorted(list(map(lambda os: os.kod, lista_osob))))]:
    print(kod)

('AAA', 748)
('BBB', 7909)
('CCC', 4434)
('DDD', 6272)
('EEE', 2934)
('FFF', 7762)
('GGG', 2534)

#### 6. Średnią liczbę punktów osób z wykształceniem Lower Than A Level.

In [7]:
lista_osob = czytaj()
mean(list(map(lambda os: os.punktow, filter(lambda os: os.wyksztalcenie == "Lower Than A Level", lista_osob))))

78.60237118103055

#### 7. Wiek najmłodszego mężczyzny który zrezygnował (Withdrawn).

In [8]:
lista_osob = czytaj()
min(list(map(lambda osoba: osoba.wiek, filter(lambda x : x.plec == "M" and x.zaliczenie == "Withdrawn", lista_osob))))

15

#### 8. Liczbę osób z wykształceniem niższym niż A (Lower Than A Level), które nie zdawały wczesniej dla każdego regionu.

In [9]:
lista_osob = czytaj()
for kod in [(key, len(list(osoby))) for key, osoby in groupby(sorted(list(map(lambda os: os.region, filter(lambda x : x.wyksztalcenie == "Lower Than A Level" and x.prob == 0, lista_osob)))))]:
    print(kod)

('East Anglian Region', 1248)
('East Midlands Region', 926)
('Ireland', 407)
('London Region', 1072)
('North Region', 611)
('North Western Region', 1124)
('Scotland', 769)
('South East Region', 778)
('South Region', 1105)
('South West Region', 873)
('Wales', 717)
('West Midlands Region', 922)
('Yorkshire Region', 746)